body {
    background-color: #d1d5db;
    margin: 0;
    font-family: sans-serif;
}

.page-wrapper {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    padding: 80px 40px;
    box-sizing: border-box;
}

.main-layout {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 250px);
    gap: 20px;
    padding: 30px;
}

.project-item {
    background-color: white;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* PENGUINS */
.oval-wrap {
    width: 320px;
    height: 210px;
    border-radius: 50%;
    border: 1px solid #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.oval-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: sepia(0.25) brightness(1.05) saturate(1.1);
}

/* FOOTBALL */
.football-frame {
    width: 250px;
    height: 150px;
    border: 20px solid transparent;
    border-image-source: url('tic-tac-toe.png');
    border-image-slice: 33.3%;
    border-image-repeat: round;
}

.football-frame img {
    width: 100%;
    height: 100%;
    filter: grayscale(1) brightness(0.7);
}

/* DINO */
.dino-effect {
    width: 180px;

    filter: 
        sepia(1)
        hue-rotate(180deg)
        saturate(3)
        brightness(0.9)
        contrast(1.1)
        drop-shadow(3px 3px 6px rgba(0,0,0,0.7));
}
/* SEAGULL */
.seagull-bg {
    background: linear-gradient(to bottom, #7395ef, #ffffff);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seagull-effect {
    width: 280px;
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.3));
}

/*  BUTTERFLY */
.butterfly-wrap {
    width: 90%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: white;

    clip-path: path("M 0 60 Q 0 0 60 0 L 100% 0 L 100% calc(100% - 60px) Q 100% 100% calc(100% - 60px) 100% L 0 100% Z");
}

.butterfly-effect {
    width: 92%;
    height: 92%;
    object-fit: contain;

    filter: 
        brightness(1.5)
        contrast(0.85)
        saturate(1.2)
        hue-rotate(170deg);
}

/* THEATER */
.theater-container {
    background-color: #000;
}

.theater-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.theater-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.theater-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
    font-weight: 100;
    letter-spacing: 2px;
}
